@import 'fonts';
@import 'variables';
@import 'mixins';

/*style*/
body {
    font-family: 'Montserrat', sans-serif;
    &::before{
        content:'';
        background-image:url(../img/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 55vmax;
    opacity: 0.8;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    @media screen and (max-width: width 992px){
        opacity:0.4;
    }

    }
    
}

.custom-nav{
    .navbar-brand{
      img { width:25px;
      height:25px;
      margin-top:-7px
    }
    span{
      color:$primaryColor;
      font-weight:700;
      font-size:1.4rem;
      margin-left:0.4em;
    }
}

    #navbarNav{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color:$primaryColor;
                    font-weight:700;
                    margin-left:2.4em;
                    text-transform:uppercase;
                    transition:.3s color ease;
                    &:hover{
                        color:darken($primaryColor,30%)
                    }
                }
                .sign-up-button{
                  @include tombol;
                }

                @media screen and(max-width:992px){
                    margin-top:-1em;
                }
            }
          
        }
    }
   
    }
    .custom-section{
        margin-top:8em;
        h2 {
           font-size:3rem;
           font-weight:700;
           color:$primaryColor;
           white-space: nowrap;
           text-transform: uppercase;
           line-height: 1;
         }
         h3{
            font-weight:400;
            font-size: 3rem;
            color:$secondaryColor;
            white-space:nowrap;
            line-height:1;
        }
        p{
            color:$textColor;
            font-size:1.1rem;
            margin-top:2em;
        }
        a{
        margin-top:1.5em;
         @include tombol;
         border:1px solid transparent;
         transition:0.5s ease;
         &:hover{
             color:$primaryColor;
             border:1px solid $primaryColor;
             background-color:transparent;
         }
        }
        @media screen and(max-width:992px) {
            margin-top:3em;
            text-align:center;
            h2,h3,p{
                text-shadow: 1px 1px 1px rgba($textColor, 0.4);
            }
            h3{
                color:lighten($textColor,10%);
            }
        }

}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:$primaryColor;
    color: white;
    text-align: center;
    
  }
